body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.game-hidden {
  display: none !important;
}

.game-error {
  width: 100%;
  padding: 20px;
  display: flex;
  height: 100%;
  text-align: center;
  z-index: 10;
  align-content: center;
  word-wrap: break-word;
  margin: auto;
  color: red;
  background: black;
}

#game-container {
  position: absolute;
  width: 100%;
  max-width: 800px;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.canvas-container {
  height: 85vh;
  margin: 0px;
  padding: 0px;

  .canvas {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: lightgray;
    margin: auto;
    display: flex;
  }
}
